<div class="container">
	<div class="row">
		<div class="col col-md-8">
			<table class="table table-bordered table-striped">
				<thead>
				<tr>
					<th>First name</th>
					<th>Last name</th>
					<th>Telephone number</th>
					<th></th>
				</tr>
				</thead>
				<tbody ng-cloak>
					<tr ng-show="homeCtrl.empty">
						<td colspan="4">
							<div style="text-align: center; font-weight: bold">No records found</div>
						</td>
					</tr>
					<tr ng-hide="homeCtrl.empty" ng-repeat="item in homeCtrl.content">
						<td>{{item.firstName}}</td>
						<td>{{item.lastName}}</td>
						<td>{{item.phoneNumber}}</td>
						<td style="text-align: center;">
							<div ng-click="homeCtrl.delete(item.id)" class="glyphicon glyphicon-trash click-icon"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>